extends layout

block content
  .main.container
    .row
      .col-md-8.col-md-offset-2
        h1.display-4.m-b-2 About SuperDraft
        p SuperDraft was created to fill the gap for the 1000s of AFL Fantasy coaches who wanted to conduct proper auction drafts for their fantasy leagues. With the power of SuperDraft, this is now a possibility!
        p It&apos;s as simple as signing up, creating a Draft, inviting your league members and drafting your players. SuperDraft will then take care of the rest, allowing you to focus on drafting bargain players!

        a.btn.btn-info-outline.btn-lg.m-t-1(href='/register') SIGN UP &amp; DRAFT
