extends layout

block content
  .main.container
    .row
      .col-md-8.col-md-offset-2
        h1.display-4.m-b-2 About SuperDraft
        p Ever wanted to conduct an Auction Draft for your AFL Fantasy League? Me too. Unfortunately, none of the current Fantasy Football formats allow for Auction Drafts.
        p For years my own Fantasy League had to manually conduct our drafts, with the help of a very patient Auctioneer and a complicated and un-elegant Excel Spreadsheet. That was until SuperDraft was built!
        p Using SuperDraft is as simple as signing up, creating a customised Draft and inviting your friends. SuperDraft will then take care of the rest*!
        div(style="margin-bottom: 40px")
        p(style="font-size: 1.8vmin") * SuperDraft is not designed for running your fantasy football competition, it is simply intended to allow you to conduct your draft in an Auction format! As a result, your drafted teams will need to be input into the Supercoach/Fantasy website after your draft is complete. In order to do this, I simply run a normal Snake Draft and then plug in the teams manually.


        a.btn.btn-info-outline.btn-lg.m-t-1(href='/register', style="width:150px") SIGN UP
        div(style="margin-top:20px")
        a.btn.btn-info-outline.btn-lg.m-t-1(href='/login', style="width:150px") LOG IN

