extends layout

block content
  .main.container
    .row
      .col-md-8.col-md-offset-2
        h1.display-4.m-b-2 About SuperDraft
        p Ever wanted to conduct an Auction Draft for your Supercoach/AFL Fantasy League? Me too. Unfortunately, none of the current Fantasy Football formats allow for Auction Drafts!
        p For years my own fantasy league had to manually conduct our drafts, with the help of a very patient Auctioneer and a complicated, un-elegant Excel Spreadsheet. That was until SuperDraft was built!
        p Using SuperDraft is as simple as #[a(href="/register" style="color: white; font-style: italic") Signing Up], creating a customised Draft and inviting your friends. SuperDraft will then take care of the rest*!
        p For any enquries please contact #[a(href="mailto:SuperDraftFantasy@gmail.com" style="font-style: italic; color: rgb(44,252,14)") SuperDraftFantasy@gmail.com]! We'd be happy to hear from you with any feedback, issues, improvements or questions!

        p(style="font-style: italic; margin-bottom: 5px; color: white") Keen to get started? #[a(href="/register" style="font-style: normal; color: rgb(44,252,14)") Sign Up]
        p(style="font-style: italic") Already signed up? #[a(href="/login" style="font-style: normal; color: rgb(44,252,14)") Log In]

        div(style="margin-bottom: 20px")
        p(style="font-size: 2vmin; color: rgb(44,252,14)") *Important Note: SuperDraft is not designed for running your fantasy football competition, it is simply intended to allow you to conduct your draft in an Auction format! As a result, your drafted teams will need to be input into the Supercoach/AFL Fantasy website after your draft is complete. In order to do this, you simply run a normal Snake Draft and plug in the teams manually.

        div(style="margin-bottom: 20px")

        p(style="font-size: 1.5vmin; color: white") This website is not endorsed, affiliated with or sponsored in any way by the Herald Sun, The Herald and Weekly Times Pty Ltd or the Australian Football League (AFL).
