extends layout

block content
  .main.container
    .row
      .col-md-8.col-md-offset-2
        h1.display-4.m-b-2 About SuperDraft
        p Ever wanted to conduct an Auction Draft for your AFL Fantasy League? Me too. Unfortunately, none of the current Fantasy Football formats allow for Auction Drafts.
        p For years my own Fantasy League had to manually conduct our drafts, with the help of a very patient Auctioneer and a complicated and un-elegant Excel Spreadsheet. That was until SuperDraft was built!
        p Using SuperDraft is as simple as signing up, creating a Draft and inviting your league members. SuperDraft will then take care of the rest! Happy Drafting!

        a.btn.btn-info-outline.btn-lg.m-t-1(href='/register') SIGN UP &amp; DRAFT
        p#login Already signed up? Login 
         a(href='/login')#loginText here.

