extends layout

block content
  .main.container
    .row
      .col-md-6.col-md-offset-3
        h1.display-4.m-b-2 Create A Draft

        // register form
        form(method='POST' action='/create')
          div.form-group
            label(for='leagueName') League Name:
            input#name.form-control(type='text', placeholder='e.g. WAFL' name='leagueName')
          div.form-group
            label(for='draftYear') Draft Year:
            input#name.form-control(type='text', placeholder='e.g. 2017' name='draftYear')
          div.form-group
            label(for='numOfCoaches') # of Coaches:
            input#name.form-control(type='text', placeholder='e.g. 10' name='numOfCoaches')
          div.form-group
            label(for='coachEmails') Team Names:
            input#email.form-control(type='text', placeholder='Team Name #1' name='coach1')
            input#email.form-control(type='text', placeholder='Team Name #2' name='coach2')
            input#email.form-control(type='text', placeholder='Team Name #3' name='coach3')
            input#email.form-control(type='text', placeholder='Team Name #4' name='coach4')
            input#email.form-control(type='text', placeholder='Team Name #5' name='coach5')
            input#email.form-control(type='text', placeholder='Team Name #6' name='coach6')
            input#email.form-control(type='text', placeholder='Team Name #7' name='coach7')
            input#email.form-control(type='text', placeholder='Team Name #8' name='coach8')
            input#email.form-control(type='text', placeholder='Team Name #9' name='coach9')
            input#email.form-control(type='text', placeholder='Team Name #10' name='coach10')
          button.btn.btn-primary(type='submit') Create Draft
