extends layout

block content
  .main.container
    .row
      .col-md-6.col-md-offset-3
        h1.display-4.m-b-2 Create A Draft

        // register form
        form(method='POST' action='/create')
          div.form-group
            label(for='leagueName') League Name:
            input#name.form-control(type='text', placeholder='e.g. WAFL' name='leagueName')
          div.form-group
            label(for='draftYear') Draft Year:
            input#name.form-control(type='text', placeholder='e.g. 2017' name='draftYear')
          div.form-group
            label(for='numOfCoaches') # of Coaches:
            input#name.form-control(type='text', placeholder='e.g. 10' name='numOfCoaches')
          div.form-group
            label(for='rosterSize') Roster Size:
            input#name.form-control(type='text', placeholder='e.g. D-5, F-5, M-7, R-1, B-4 = 22' name='rosterSize')
          div.form-group
            label(for='numOfDef') # of Defenders:
            input#name.form-control(type='text', placeholder='e.g. 5' name='numOfDef')
          div.form-group
            label(for='numOfFwd') # of Forwards:
            input#name.form-control(type='text', placeholder='e.g. 5' name='numOfFwd')
          div.form-group
            label(for='numOfRuc') # of Rucks:
            input#name.form-control(type='text', placeholder='e.g. 1' name='numOfRuc')
          div.form-group
            label(for='numOfMid') # of Midfielders:
            input#name.form-control(type='text', placeholder='e.g. 7' name='numOfMid')
          div.form-group
            label(for='numOf') # of Bench:
            input#name.form-control(type='text', placeholder='e.g. 4' name='numOfBen')
          div.form-group
            label(for='budget') Budget:
            input#name.form-control(type='text', placeholder='$300' name='budget')
          div.form-group
            label(for='coachEmails') Invite Teams:
            input#email.form-control(type='email', placeholder='Team #1 Email' name='coach1')
            input#email.form-control(type='email', placeholder='Team #2 Email' name='coach2')
            input#email.form-control(type='email', placeholder='Team #3 Email' name='coach3')
            input#email.form-control(type='email', placeholder='Team #4 Email' name='coach4')
            input#email.form-control(type='email', placeholder='Team #5 Email' name='coach5')
            input#email.form-control(type='email', placeholder='Team #6 Email' name='coach6')
            input#email.form-control(type='email', placeholder='Team #7 Email' name='coach7')
            input#email.form-control(type='email', placeholder='Team #8 Email' name='coach8')
            input#email.form-control(type='email', placeholder='Team #9 Email' name='coach9')
            input#email.form-control(type='email', placeholder='Team #10 Email' name='coach10')
          button.btn.btn-primary(type='submit') Create Draft
