extends layout

block content
  .main.container.text-xs-center
    h1.display-3 Sign Up...Draft...Dominate.
    p.lead The only AFL Fantasy Auction Draft Software. By the people, for the people. Completely free.
    a.btn.btn-info-outline.btn-lg(href='/register') Get Drafting Now


