extends layout

block content
  .main.container.text-xs-center
    h1.display-3 SuperDraft
    p.lead The only Australian Fantasy Football Auction Draft Website.
    p.lead The process is simple:
    span(style= "font-size: 5vmin; vertical-align: middle") 1.     
    a.btn.btn-info-outline.btn-lg(href='/register', style="width:220px") SIGN UP
    div(style= "margin-top: 40px")
    span(style= "font-size: 5vmin; vertical-align: middle") 2.   
    a.btn.btn-info-outline.btn-lg(href='/create', style="width:220px") CREATE DRAFT
    div(style= "margin-top: 40px")
    span(style= "font-size: 5vmin; vertical-align: middle") 3.   
    a.btn.btn-info-outline.btn-lg(href='/create', style="width:220px") RUN DRAFT
    div(style= "margin-top: 40px")
    span(style= "font-size: 5vmin; vertical-align: middle") 4.  
    a.btn.btn-info-outline.btn-lg(onclick="$('.z')[0].focus()" style="width:220px" value="test") PLUG IN TEAMS*
    div(style="margin-bottom: 30px")
    p.lead#login(style="margin-bottom: 10px") Already signed up?
    a.btn.btn-info-outline.btn-lg(href='/login') LOGIN
    div(style="margin-bottom: 30px")
    div.z(tabindex="1")
        p(style="font-size: 2.5vmin; color: rgb(44,252,14)") * SuperDraft is not designed for running your fantasy football competition, it is simply intended to allow you to conduct your draft in an Auction format! After your Draft is complete, your teams will need to be plugged into the Supercoach/AFL Fantasy website. Your league commissioner can do this by running a 'Live One Computer' Snake Draft and selecting the teams.

    div(style="margin-bottom: 40px")

    p(style="font-size: 1.5vmin; color: white") This website is not endorsed, affiliated with or sponsored in any way by the Herald Sun, The Herald and Weekly Times Pty Ltd or the Australian Football League (AFL).
