nav.navbar.navbar-fixed-top.navbar-dark.bg-inverse
  button.navbar-toggler.hidden-md-up.pull-xs-right(type='button', data-toggle='collapse', data-target='#navbar') &#x2630;
  #navbar.navbar-nav.collapse.navbar-toggleable-sm
    .container

      if currentUser
        a.navbar-brand(href='/') SuperDraft | #{currentUser.local.name}
        .nav-items.clearfix
          a.nav-item.nav-link(href="create") Create
          a.nav-item.nav-link(href="join") Join
          a.nav-item.nav-link(href='myDrafts') My Drafts
          a.nav-item.nav-link(href='resources') Resources
          a.nav-item.nav-link(href='about') About
        a.btn.btn-info.pull-md-right(href="/logout") Logout

      if !currentUser
        a.navbar-brand(href='/') SuperDraft
        .nav-items.clearfix
          a.nav-item.nav-link.click-to-open(data-modal="signupModal") Sign Up        
          a.nav-item.nav-link(href="create") Create
          a.nav-item.nav-link(href="join") Join
          a.nav-item.nav-link(href='resources') Resources
          a.nav-item.nav-link(href='about') About
        a.btn.btn-info.pull-md-right.click-to-open(data-modal="signupModal") Login



#signupModal.modal
  .login-form
    span.close#signupClose(style="margin-top: 2%; margin-right: 4%") ×
    form(method="post" action="/signup")
      h2.text-center(style="color: rgb(0,0,0); text-align:center") SIGN UP
      - if (signupMessage && signupMessage.length > 0)
        .alert.alert-danger#signupError(style="text-align: center") #{signupMessage}
      - if (loginText && loginText.length > 0)
        .alert.alert-danger#loginError(style="text-align: center") #{loginText}
      .text-center.social-btn
        a.btn.btn-info.btn-block#facebookButton(href='/auth/facebook')
          i.fa.fa-facebook
          |  Connect with 
          b Facebook
        a.btn.btn-info.btn-block#twitterButton(href='/auth/twitter')
          i.fa.fa-twitter
          |  Connect with 
          b Twitter
        a.btn.btn-info.btn-block#googleButton(href='/auth/google')
          i.fa.fa-google
          |  Connect with 
          b Google
        a.btn.btn-info.btn-block#emailButton(href='#')
          i.fa.fa-envelope
          |  Sign up with 
          b Email


      div#signupDiv(style="display:none")
        form(method="post" action="/signup")
          div(style="margin-top: 15%")    
          .or-seperator(style="color: black")
            i(style="font-weight: bold") Sign Up
          .form-group
            .input-group
              span.input-group-addon
                i(style="font-size: 18px").fa.fa-user
              input#name.form-control(type='text', placeholder='full name' name='name' required ='required') 
          .form-group
            .input-group
              span.input-group-addon
                i(style="font-size: 13px").fa.fa-envelope
              input#email.form-control(type='email', placeholder='email' name='email' required ='required')
          .form-group
            .input-group
              span.input-group-addon
                i(style="font-size: 18px").fa.fa-lock
              input#pw.form-control(type='password', placeholder='password' name='password' required ='required')
          .form-group
            button.btn.btn-success.btn-block.login-btn(type='submit') Sign Up
          .clearfix
            label.pull-left.checkbox-inline
              input(type='checkbox' style="display:none")
              h4(style="display:none")
            a.pull-right.text-success(href='#' style="display:none") Forgot Password?
          .hint-text.small(style="display:none")
            | Already have an account? 
            a.text-success#loginLink(href='#') Login!




      div#loginDiv(style="display:block; margin-top: 0px")
        form(method="post" action="/login" style="padding-top: 0px; margin-top: 0px")     
          .or-seperator(style="color: black")
            i(style="font-weight: bold;") Login
          .form-group
            .input-group
              span.input-group-addon
                i(style="font-size: 13px").fa.fa-envelope
              input#email.form-control(type='email', placeholder='email' name='email' required ='required')
          .form-group
            .input-group
              span.input-group-addon
                i.fa.fa-lock
              input#pw.form-control(type='password', placeholder='password' name='password' required ='required')
          .form-group
            button.btn.btn-success.btn-block.login-btn(type='submit') Login
          .clearfix
            label.pull-left.checkbox-inline
              input(type='checkbox' style="display:none")
              h4(style="display:none")  Remember me
            a.pull-right.text-success(href='#' style="display:none") Forgot Password?
          .hint-text.small(style="display:none")
            | Don't have an account? 
            a.text-success(href='#') Sign Up!



script(src='/js/navbar.js')
script(src='/js/signUpModal.js')