extends layout

block content
  .main.container
    .row
      .col-md-6.col-md-offset-3
        h1.display-4.m-b-2 Sign Up

        // register form
        form(method='POST' action='/register')
          div.form-group
            label(for='name') Coach Name:
            input#name.form-control(type='text', placeholder='e.g. Mick Malthouse' name='name')
          div.form-group
            label(for='name') Team Name:
            input#name.form-control(type='text', placeholder='e.g. The Rat Pack' name='teamName')
          div.form-group
            label(for='email') Email:
            input#email.form-control(type='email', placeholder='e.g. MickyMalt2010@gmail.com' name='email')
          div.form-group
            label(for='pw') Password:
            input#pw.form-control(type='password', placeholder='xxxxxxxx' name='password')
          div.form-group
            label(for='pw2') Confirm Password:
            input#pw2.form-control(type='password', placeholder='xxxxxxxx' name='confirmPassword')
          button.btn.btn-primary(type='submit') Sign Up