extends layout

block content
	.main.container
		.row
			.col-md-8.col-md-offset-2
				h1.display-4.m-b-2(style="text-align: center") Resources
				table#myDraftsTable
					tr
						th Name
						th Description
						th Download
							tr
								td SC Cheat Sheet - 2018
								td Averages, Positions, Indicative Prices!
								td #[a.btn.btn-info-outline.btn-lg(onclick="window.location.href='./ftpData/scCheatSheet2018.xlsx'") Download]

