/*General*/
body, html {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

* {
  margin-top: 0;
}

/* Element styling */

/* Below we use viewport sizing to scale the font size based on the size of the browser window.*/
h1{
  font-size: 5vmin;
  margin: 0px;
}

h2 {
  font-size: 3vmin;
  margin: 0;
}

h3 {
  font-size: 2vmin;
  margin: 0;
}
h4 {
  font-size: 1.5vmin;
  margin: 0;
}
h5{
  font-size: xx-small;
  margin: 0;
}

body {
  font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
}


table.tableSection {
        display: table;
        width: 100%;
    }
    table.tableSection thead, table.tableSection tbody {
        float: left;
        width: 100%;
    }
    table.tableSection tbody {
        overflow: auto;
        height: 100px;
    }
    table.tableSection tr {
        width: 100%;
        display: table;
        text-align: left;
      }
    table.tableSection thead {
     padding-right:18px;   /* 18px is approx. value of width of scroll bar */
     width: calc(100% - 18px);
}






/* Class styling */

.container{
  width: 100%;
  height: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
}

.otbPane{
  width: 20%;
  height: 22%;
  float: left;
  border-collapse: collapse;
  background-color: #4d4d4d;
}

.otbTextHolder{
  width: 100%;
  height: 25%;
  overflow: hidden;
  vertical-align: top;
  margin: 3px;
}

.otbText{
    text-indent: 5px;
    text-align:left;
    margin: 0px;
    color: white;
}


/* Sets the max width and height of the container and cuts off any overflow outside this container-*/
.otbImgHolder{
  width: 36%;
  height: 40%;
  overflow: hidden;
  float: left;
}

.otbCurrentBidHolder{
  width: 64%;
  height: 40%;
  overflow: hidden;
  float: left;
}

/* Says that the max width and height of the image can be 100% of the width and height of the container. 
The margin top increases the gap between the top of the container and the top of the image. 
As any overflow of the container is cut off, this crops out the bottom of the image outside of the container*/
.otbImgHolder img{
  max-width: 100%;
  max-height: 100%;
  transform: translateX(-8%);
  margin-left:0.8vmin;
  float: left;
}

.otbCurrentBidHolder h1{
  color: #2CFC0E;
  font-size: 6vmin;
  text-align: middle;
}

.otbBiddingHolder{
  width:100%;
  height:35%;
}

.otbBiddingHolder input{
  border: solid 1px black;
  border-radius: 5px;
  width: 25%;
  height: 23%;
  float: left;
  margin-left: 0.5vmin;
  margin-top: 0.5vmin;
  font-size: 3vmin;
  vertical-align: middle;
  text-align: center;
}

.otbBiddingHolder button{
  border: solid 1px blue;
  border-radius: 5px;
  width: 60%;
  height: 25%;
  float:right;
  margin-top: 0.5vmin;
  margin-right: 1vmin;
  font-size: 1vmin;
  background-color: blue;
  color: white;
  cursor: pointer;
  cursor: hand;
}

.selectedPlayerPane{
  width: 54%;
  height: 20%;
  float: left;
  border-collapse: collapse;
  background-color: yellow;
  padding-left: 0.5%;
  padding-right: 0.5%;
}

.selectedPlayerPane #topSPP{
  background: url('../images/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  /*background-position takes 2 percentages, 1 for the % moved on the x axis and 1 for the % moved on the y axis.*/
  background-position: 50% 65%;
  width: 100%;
  height: 65%;
}

.selectedPlayerPane #topSPP img{
  max-height: 100%;
  max-width: 100%;
  float: left;
  margin-left: 2vmin;
}

.selectedPlayerPane #topSPP #selectedName{
  color: white;
  text-align: left;
}

.selectedPlayerPane #topSPP #selectedPosition{
  margin-top: -1vmin;
  color: white;
  text-align: left;
}

.selectedPlayerPane #topSPP #addToQueue{
  float: left;
  height: 30%;
  width: 30%;
  background-color: yellow;
  font-size: 1vmin;
}

.selectedPlayerPane #topSPP #startValue{
  float: left;
  height: 23%;
  width: 8%;
  font-size: 2vmin;
  text-align: center;
}

.selectedPlayerPane #bottomSPP{
  color: blue;
  background-color: white;
  width: 100%;
  height: 35%;
}

.selectedPlayerPane #bottomSPP table{
  width: 100%;
  height: 100%;
  font-size:2.2vmin;
  border-collapse: collapse;
}

.selectedPlayerPane #bottomSPP table th{
  border: solid black 1.5px;
}

.selectedPlayerPane #bottomSPP table td{
  border: solid grey 1px;
}

.selectedPlayerPane #sppClock{
  color: white;
  vertical-align: middle;
}


.clockPane{
  width: 20%;
  height: 5%;
  position: absolute;
  top: 22%;
  left: 0;
  border-collapse: collapse;
  padding-bottom: 1%;
  background-color: yellow;
}

.clockPane #clock{
  width:100%;
  height: 100%;
  background-color: #4d4d4d;
  float:left;
}

.clockPane #clock #demo{
  color: white;
  padding:0.75vmin;
  font-size: 3vmin;
  vertical-align: middle;
}



.budgetsPane{
  width: 20%;
  height: 70.5%;
  position: absolute;
  left: 0;
  top: 28%;
  color: white;

  background: #4d4d4d;


  border-collapse: collapse;
  overflow: hidden;
}

.budgetsPane #draftID{
  color:#4d4d4d;
<<<<<<< HEAD
=======
  margin-bottom: -0.75vmin;
}

.budgetsPane #currentUser{
  color: yellow;
  margin-top: 0.5vmin;
>>>>>>> e32818243767c5c6d771afb0d0c1f8b9e4e56a1a
}


.budgetsPane table{
  width: 100%;
  height: 93%;
  font-size: 1.5vmin;
  text-align: middle;
  border-collapse: collapse;
  margin-left: 0.3vmin;
}

.budgetsPane table .budgetName{
  text-align: left;
}

.budgetsPane th{
  border-bottom: 1px black solid;
}

.playerSearchPane{
  width: 54%;
  height: 74%;
  float: right;
  background-color: yellow;
  border-collapse: collapse;
  overflow: hidden;
  padding-left: 0.5%;
  padding-right: 0.5%;
}

.playerSearchPane .name{
  font-weight: bold;
  color: #0020C2;
}

/*
.playerSearchPane table{
  width: 100%;
  font-size: 2.2vmin;
  border-collapse: collapse;
}

.playerSearchPane table th {
  background-color: grey;
}

.playerSearchPane table tr:hover {
  background-color: #f1f1f1;
}

.playerSearchPane table td {
  border-collapse: collapse;
  border-bottom: solid black 1px;
  border-left: solid grey 1px;
  cursor: pointer;
  cursor: hand;
}
*/

.filterPane{
  width: 54%;
  height: 4%;
  float: left;
  background-color: yellow;
  border-collapse: collapse;
  overflow: hidden;
  padding-left: 0.5%;
  padding-right: 0.5%;
}


.filterPane #filter{ 
  margin-top: 0.5vmin;
  float: left;
  background-color: yellow;
  width: 100%;
  text-align: middle;
}

.filterPane #filter #playerSearch{
  width: 25vmin;
  height: 2vmin;
  font-size: 1.5vmin;
}

.filterPane #filter #positionSearch{
  width: 10vmin;
  height: 100%;
}

.myTeamPane{
  width: 25%;
  height: 98%;
  position: relative;
  float: right;
  background-color: #4d4d4d;
  border-collapse: collapse;
  overflow: hidden;
}

.myTeamPane h3{
  color: yellow;
  margin: 0.5vmin;
}

.myTeamPane table{
  font-size: 1.2vmin;
  background-color: #4d4d4d;
}

.myTeamPane th{
  background-color: #4d4d4d;
  color: white;
}

.myTeamPane td{
  background-color: #4d4d4d;
  color: white;
}


.myTeamPane #dMid{
  text-align: left;
}

.bottomPane{
  width: 100%;
  height: 2%;
  border-collapse: collapse;
  background-color: yellow;
  position: absolute;
  bottom: 0;
  left: 0;
}

.bottomPane #next{
  float: left;
  margin-left: 8%;
}

/* ID styling */
