
/* Import the font-awesome stylesheet */
@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

/* Base Styles */

body {
	background: #1d2a33 url('../images/bg.jpg') no-repeat;
	background-size: cover; 
}

a:hover {
	color: rgba(49,176,213, .7);
}

/* Tooltip CSS */
.help-tip{
    text-align: center;
    background-color: #BCDBEA;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    font-size: 14px;
    line-height: 26px;
    cursor: default;
    float:right;
}

.help-tip:before{
    content:'?';
    font-weight: bold;
    color:#fff;
}

.help-tip:hover p{
    display:block;
    transform-origin: 100% 0%;

    -webkit-animation: fadeIn 0.3s ease-in-out;
    animation: fadeIn 0.3s ease-in-out;

    z-index:555555 !important;

}

.help-tip p{    /* The tooltip */
    display: none;
    text-align: left;
    background-color: #1E2021;
    padding: 20px;
    width: 300px;
    position: absolute;
    border-radius: 3px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    right: -4px;
    color: #FFF;
    font-size: 13px;
    line-height: 1.4;
}

.help-tip p:before{ /* The pointer of the tooltip */
    position: absolute;
    content: '';
    width:0;
    height: 0;
    border:6px solid transparent;
    border-bottom-color:#1E2021;
    right:10px;
    top:-12px;
}

.help-tip p:after{ /* Prevents the tooltip from being hidden */
    width:100%;
    height:40px;
    content:'';
    position: absolute;
    top:-40px;
    left:0;
}

/* CSS animation */

@-webkit-keyframes fadeIn {
    0% { 
        opacity:0; 
        transform: scale(0.6);
    }

    100% {
        opacity:100%;
        transform: scale(1);
    }
}

@keyframes fadeIn {
    0% { opacity:0; }
    100% { opacity:100%; }
}



/* Component Styles */

.navbar {
	padding: 1rem 0;
	background: rgba(0,0,0, .25);
}
.lead {
	margin-bottom: 2.5rem;
}
.main {
	/* Main text colour */
	/* Original green colour is rgb(44,252,14) */
	color: white;
	min-height: calc(100vh - 34px);
}
.foot {
	font-size: .85rem;
	padding: .5rem 0;
	/* Footer colour */
	color: rgba(255,255,255, .6);
}

h1 {
	color: rgb(44,252,14);
}

/* Modifier Styles */

.nav-items .nav-link {
	margin: 0 1rem;
}
.navbar-brand {
	margin: 0;
}
.navbar .nav-link,
.navbar .btn {
	text-transform: uppercase;
	font-size: .95rem;
}
.list-group {
	color: initial;
}
.label {
	font-size: .88rem;
	vertical-align: top;
	margin: 3px 0 0 4px;
}

th{
	color: rgb(44,252,14);
}
tr{
	color: white;
}

/* Custom Styling */
#login{
	padding-top: 6%;
}

#loginText{
	color: rgb(44,252,14);
	text-decoration: underline;
}

#myDraftsTable{
	text-align: center;
	width: 100%;
    table-layout: fixed;
}


#myDraftsTable th{
	text-align: center;
	border-bottom: 2px solid white;
	border-top: 1px solid white;
	padding: 10px;
	padding-top: 16px;
	padding-bottom: 16px;
}

#myDraftsTable tr{
	border-top: 1px rgba(255,255,255,.3) solid;
}

#myDraftsTable td{
	padding: 10px;
}

#createDraftDiv {
	width: 100%;
	display: inline-block;
}

#createDraftDiv a {
	display: inline-block;
	text-align: center;
}


#draftCode{
	display:none;
}

#draftID{
	display: none;
}

.positionEntry{
	font-size: 0.75em;
	display: inline-block;
	width: 20%;
	text-align: center;
}

.static-value{
	position:absolute;
	left:12px;
	font-size:1em;
	color: grey;
	top:7px;
}

#budget{
	padding-left: 23px;
}

/* Authentication message stylings */
.auth_info, .auth_success, .auth_warning, .auth_error {
margin: 10px 0px;
padding:5px;
 
}
.auth_info {
    color: #00529B;
    background-color: #BDE5F8;
}
.auth_success {
    color: #4F8A10;
    background-color: #DFF2BF;
}
.auth_warning {
    color: #9F6000;
    background-color: #FEEFB3;
}
.auth_error {
    color: #D8000C;
    background-color: #FFD2D2;
}
.auth_info i, .auth_success i, .auth_warning i, .auth_error i {
    margin:10px 10px;
    font-size:1em;
    vertical-align:middle;
}

/* Button Styles */

/* Button color override */
.btn{
	background-color: #417aba;
	border-color: #417aba;
	color: white;
}

.btn:hover {
	background-color: #417aba;
	border-color: rgb(44,252,14);
	color: rgb(44,252,14);
}

#joinButton{
	background-color: #417aba;
	border-color: white;
	border-left: none;
	border-right: none;
	border-bottom: none;
	color: white;
}

#joinButton:hover {
	background-color: #417aba;
	color: rgb(44,252,14);
}


/* Commenting out button formatting
.btn-primary {
	background: #417aba;
	border-color: #417aba;
}
.btn-info {
	background-color: rgba(44,252,14,0.0);
	border-color: rgb(44,252,14);
	color: white;
}
.btn-info:hover {
	background-color: rgb(44,252,14);
	border-color: grey;
	color: #417aba;
}
.btn-light {
	background-color: rgba(44,252,14,0.0);
	border-color: rgb(44,252,14);
	color: white;
}
.btn-light:hover {
	background-color: rgb(44,252,14);
	border-color: grey;
	color: #417aba;
}
*/

.active,
.btn {
	transition: .4s;
}

/* Icon Styles */

.icn-logo {
	margin: 3px 3px 0;
	float: left;
}
.icn-person {
	font-size: 50px;
	border-radius: 50%;
	border: solid 2px;
	padding: .5rem;
}
.avatar {
	width: 35px;
	margin-right: 18px;
	border: solid 2px rgba(255,255,255, .75);
}
.options {
	display: none;
}
.list-group-item:hover .options {
	display: block;
}
.options .material-icons {
	font-size: 1.25rem;
	cursor: pointer;
	margin-left: 1rem;
	color: rgba(0,0,0, .35);
}
.options .material-icons:hover {
	color: initial;
}

.favorite-book {
  margin-top: 30px;
}

/* Media Queries */

@media (min-width: 0) and (max-width: 47em) {
	.navbar {
		background: #1d2a33;
	}
	.nav-items .nav-item {
		float: none;
	}
	.nav-items .nav-link  {
		padding: .65rem 0;
		display: block;
	}
	.nav-items {
		padding: 1rem 0;
		clear: left;
	}
	.navbar .btn {
		margin-left: 1rem;
	}
	.main {
		padding-top: 6rem;
	}
}

@media (min-width: 48em) { 
	.navbar {
		min-height: 70px;
	}
	.navbar-nav .container {
		display: -webkit-flex;
		display: flex;
	}
	.nav-items {
		margin-right: auto;
		margin-left: auto;
	}
	.main {
		padding-top: 8rem;
	}
}